/* styles.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(184, 191, 191), rgb(184, 191, 191));
}

.logo {
    margin-left: 20px;
}

.logo img {
    height: 40px;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(184, 191, 191); /* Dodana linia - zmiana koloru tła nawigacji */
}

.navigation li {
    margin: 0 10px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 40px 0;
}

.bg-block {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.reasons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.reason {
    width: 250px;
    text-align: center;
    margin: 20px;
}

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .logo {
        text-align: left;
        margin-left: 20px;
    }

    .logo img {
        height: 30px;
    }

    nav {
        background-color: #222;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

    .navigation {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .navigation li {
        margin: 5px;
    }

    .navigation a {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
}

@media (min-width: 769px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    nav {
        color: #fff;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .navigation {
        justify-content: center;
        background-color: rgb(184, 191, 191); /* Dodana linia - zmiana koloru tła nawigacji */
    }

    main {
        padding-top: 100px;
    }
}
.image-text-container img {
    width: 100%;
    height: auto;
    max-width: 500px; /* Ajust this value according to your needs */
    margin: auto; /* Centers the image if it is smaller than the container */
    display: block; /* Needed for auto margins to work */
    object-fit: cover; /* Helps maintain aspect ratio */
}


